---
---

/* =========================================

	Variables

========================================= */

/* Colors */

$orange: #F67C47;
$yellow: #FEA33B;
$purple: #A971D2;
$blue1: #2553B1;
$blue2: #8899BD;
$blue3: #B5C2DE;
$blue4: #1D2D4F;
$blue5: #475677;
$blue6: #04153C; //
$blue7: #283757;

/* Font families */

$serif: "baskerville", 'Libre Baskerville', serif;
$sans-serif: 'Circular Std','Work Sans', sans-serif;

/* Font sizes */

@mixin fonts--lead() {
	font-size: 24px;
	line-height: 34px;
}

@mixin text--uppercase() {
	text-transform: uppercase;
}

/*

font-size: 12px;
line-height: 15px;
letter-spacing: .015em;

font-size: 16px;
line-height: 18px;
letter-spacing: .0267em;

font-size: 18px;
line-height: 23px;
letter-spacing: .1em;

font-size: 18px;
line-height: 29px;

font-size: 24px;
line-height: 30px;

font-size: 24px;
line-height: 46px;
letter-spacing: .533em;

font-size: 24px;
line-height: 34px;

font-size: 32px;
line-height: 54px;

font-size: 48px;
line-height: 62px;

font-size: 48px;
line-height: 60px;

*/


// @include border-radius

/* =========================================

	Base styles

========================================= */

html {
	height: 100.1%;
	font-family: $sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

	h2.small-light {
		color: #8899BD;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-weight: 900;
	}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.text--uppercase {
	text-transform: uppercase;
}

/* Grid */

@import "grid";

/* Sections */

.section {
	padding: 100px 0;
}

	@import "section/hero";
	@import "section/history";
	@import "section/quote";
	@import "section/work";
	@import "section/contact";




.site__name {
	font-size: 32px;
	text-shadow: 0 0 20px rgba(8,18,42,.3);
}

.site__description {
	display: block;
	font-size: 60px;
	font-weight: 900;
	text-shadow: 0 0 40px rgba(22,50,92,.21);
}

	@media(min-width: 992px) {
		.site__description {
			font-size: 194px;
			letter-spacing: 3px;
		}
	}

.site__bio {
	font-size: 32px;
	font-family: $serif;
}



header[role="banner"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

footer[role="contentinfo"] {
	padding: 20px 0;
}

.work-list {
	margin: 0 -25px;
}

.carddd {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
}
.card--work  {
	background: #304064;
	box-shadow: 0 30px 30px rgba(0,0,0,.1);
	padding: 20px;
	margin: 25px;
}
.label__highlight {
	color: #FEA33B;
}
label {
	font-size: 18px;
	letter-spacing: 2px;
	font-family: $serif;
}

.btn--lg {
	border: solid 3px #3E4D6F !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	display: block;
	width: 100%;
	color: #fff !important;
	border-radius: 0 !important;
}

div.error {
	font-size: 11px;
	color: #CF4F43;
	text-transform: uppercase;
	letter-spacing: .085em;
	font-weight: 900;
}

.hide {
	display: none;
}

/* Primary navigation */

.menu--primary {
	list-style: none;
	text-align: right;
	display: block;
}

	.menu--primary li {
		display: inline-block;
	}

		.menu--primary a {
			font-size: 16px;
			line-height: 20px 30px;
			letter-spacing: 2.8px;
			@include text--uppercase();
			color: #fff;
			text-decoration: none;
			padding: 20px;
			font-weight: 600;
			display: inline-block;

			&:hover,
			&:focus,
			&.active {
				color: $orange;
			}

		}
