---
---

@import "normalize";
@import "skeleton";

/* =========================================

	Variables

========================================= */

.hidden {
	opacity: 0;
}

/* Colors */

$orange: #F67C47;
$yellow: #FEA33B;
$purple: #A971D2;
$blue1: #2553B1;
$blue2: #8899BD;
$blue3: #B5C2DE;
$blue4: #1D2D4F;
$blue5: #475677;
$blue6: #04153C; //
$blue7: #283757;
// D6DBE4 - very light blue
// 233764 - dark blue

/* Font families */

$serif: "baskerville", 'Libre Baskerville', serif !important;
$sans-serif: 'Circular Std', 'Work Sans', sans-serif !important;

/* Font sizes */

@mixin fonts--lead() {
	font-size: 24px;
	line-height: 34px;
}

/* Font styles */

@mixin text--uppercase() {
	text-transform: uppercase;
}

// @include border-radius

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}

/*
	Bootstrap breakpoints
	320px
	480px
	768px
	992px
	1200px
*/

/* =========================================

	Base styles

========================================= */

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $sans-serif;
}

figure, main, section, aside, header {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}

	h2.small-light {
		color: #8899BD;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-weight: 900;
	}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

/* Grid */

@import "grid";

/* Sections */

.section {
	padding: 100px 0;
	position: relative;
	overflow: hidden;
}

	@media(min-width: 992px) {
		.section__bg-heading:after {
			width: 100%;
			line-height: 1em;
			font-size: 600px;
			font-family: $sans-serif;
			font-weight: 900;
			letter-spacing: -6px;
			text-transform: uppercase;
			position: absolute;
			bottom: -123px;
			left: 50%;
			right: 50%;
			display: inline-block;
			margin-left: -1085px;
		}
	}

@import "section/header";
@import "section/hero";
@import "section/history";
@import "section/quote";
@import "section/work";
@import "section/contact";
@import "section/footer";

/* Section dividers */

.divider {
	width: 88px;
	height: 88px;
	position: relative;
	left: 50%;
	right: 50%;
	top: -44px;
	text-align: center;
	margin: 0 0 -88px -44px;
	z-index: 5;
	display: table;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all 1s ease;
}

	.divider__arrow {
		font-size: 35px;
		color: #fff;
		font-family: 'times new roman';
		line-height: 1em;
		display: table-cell;
		vertical-align: middle;
		position: relative;
		top: -3px;
	}

		.divider__arrow__icon:before {
			content: '↓';
			display: block;
		}

	.divider--history {
		background: $yellow;
		-webkit-transform: rotate(-225deg);
		.divider__arrow {
			-webkit-transform: rotate(-45deg);
			-webkit-transform-origin: 50% 50%;
		}
		&.divider--animated {
			-webkit-transform: rotate(-315deg);
		}
	}

	.divider--contact {
		background: $blue1;
		-webkit-transform: rotate(-45deg);
		.divider__arrow {
			-webkit-transform: rotate(-45deg);
			-webkit-transform-origin: 50% 50%;
		}
		&.divider--animated {
			-webkit-transform: rotate(45deg);
		}
	}


/* PhotoSwipe */

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
	background-color: transparent !important;
}

.pswp__caption__center {
	text-align: center;
}

.wow {
	visibility: hidden;
}