/* =========================================

	Section: Contact

========================================= */

.section--contact {
	background: $blue6;
	color: #fff;
	text-align: center;
}

form {
	text-align: left;
}

.drd__input,
input[type="email"] {
	background: none !important;
	border: none !important;
	border-bottom: solid 1px #8899BD !important;
	border-radius: 0;
	color: #8899BD;
	text-align: left;
	width: 100%;
	border-radius: 0 !important;
}

label {
	font-family: 'Baskerville';
	cursor: pointer;
}

.label__highlight {
	color: #FEA33B;
}
label {
	font-size: 18px;
	letter-spacing: 2px;
	font-family: $serif;
}

.btn--lg {
	border: solid 3px #3E4D6F !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	display: block;
	width: 100%;
	color: #fff !important;
	border-radius: 0 !important;
}

div.error {
	font-size: 11px;
	color: #CF4F43;
	text-transform: uppercase;
	letter-spacing: .085em;
	font-weight: 900;
}

.hide {
	display: none;
}





.map {
	position: relative;
}
.beacon{
  position:absolute;
  top:50%;
  left:50%;
  background-color:#FEA33B;
  height:8px;
  width:8px;
  border-radius:50%;
  -webkit-transform:translateX(-50%) translateY(-50%);
}
.beacon:before{
  position:absolute;
  content:"";
  height:8px;
  width:8px;
  left:0;
  top:0;
  background-color:transparent;
  border-radius:50%;
  box-shadow:0px 0px 2px 2px #FEA33B;
  -webkit-animation:active 2s infinite linear;
  animation:active 2s infinite linear;
}

@-webkit-keyframes active{
  0%{
    -webkit-transform:scale(.1);
    opacity:1;
  }
  70%{
    -webkit-transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

@keyframes active{
  0%{
    transform:scale(.1);
    opacity:1;
  }
  70%{
    transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}
