/* =========================================

	Section: Contact

========================================= */

@media(min-width: 1650px) {
	.column--first {
		padding: 0 20px 0 0px;
		margin: 0 -8px !important;
	}

	.column--second {
		margin: 0 0 0 83px !important;
		padding: 0 20px 0 0;
	}

	.column--third {
		margin: 0 0 0 47px !important;
		position: relative;
		left: 8px;
	}
}

.section--contact {
	padding: 103px 0;
	background: $blue6;
	color: #fff;
	text-align: center;

	.section__bg-heading:after {
		content: "Contact";
		color: #04153C;
		text-shadow: 0 75px 300px rgba(0,0,0,.6);
	}

}

	.section--contact__body {
		padding: 110px 0 8px;
	}

/* Headings */

.section--contact__heading {
	color: #8899BD;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 23px;
	font-weight: 600;
}

.section--contact__subheading {
	color: #fff;
	font-size: 48px;
	line-height: 62px;
	font-weight: 600;
	padding: 35px 0;
}

.section--contact__lead {
	font-size: 24px;
	line-height: 34px;
	color: #8899BD;
	font-family: $serif;
	@media(min-width: 1650px) {
		padding: 0 265px;
	}
}

	.section--contact__lead a {
		color: #fff;

		&:hover,
		&focus {
			color: #FEA33B;
		}

	}

/* Form */

form {
	text-align: left;
}

	/* Labels */

	label {
		cursor: pointer;
	}

	.drd__label {
		font-size: 18px;
		letter-spacing: 2px;
		font-family: $serif;
		text-transform: uppercase;
		font-weight: 600;
	}

		.label__highlight {
			color: #FEA33B;
		}

	/* Inputs */

	.input-group {
		margin-bottom: 71px;
		&:last-child {
			margin-bottom: 0;
		}
	}

 	.input-group--text {
		margin-bottom: 43px;
	}

		.drd__input,
		.drd__text {
			font-family: $sans-serif;
			background: none !important;
			border: none !important;
			border-radius: 0;
			text-align: left;
			width: 100%;
			border-radius: 0 !important;
			font-size: 20px;
			color: #fff;
			padding: 8px 1px 14px !important;

			&:focus,
			&:active {
				border-color: #2553B1 !important;
				color: #fff;
			}

			&.error {
				border-color: #CF4F43 !important;
			}

		}

		/* Placeholder text */

		::-webkit-input-placeholder {
			color: #8899BD !important;
		}

			.drd__text {
				border-top: solid 2px #8899BD !important;
				margin-top: 45px;
				padding-top: 18px !important;
				line-height: 30px;
				resize: none;
				height: 200px;
			}

			.drd__input {
				border-bottom: solid 2px #8899BD !important;
				padding: 8px 1px 14px;
				height: auto !important;
			}

	/* Button */

	.btn.drd__button {
		padding: 14px 0 12px;
		height: auto;
		border: solid 3px #3E4D6F;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: .2em;
		text-align: center;
		font-weight: 900;
		display: block;
		width: 100%;
		color: #fff !important;
		border-radius: 0 !important;
		max-width: 420px;

		&:hover,
		&:focus {
			border-color: #fff;
		}

	}

		.btn-group {
			padding-top: 0px;
		}

	/* Form errors */

	div.error {
		font-size: 11px;
		color: #CF4F43;
		text-transform: uppercase;
		letter-spacing: .085em;
		font-weight: 900;
		position: absolute;
	}

/* Map with beacon */

.map {
	display: block;
	width: 100%;
	height: 285px;
	background-image: url('/img/map.png');
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 418px;
	position: relative;
	margin: 40px 0 6px;
}

	.beacon{
		position:absolute;
		top:38%;
		left:25%;
		background-color:#FEA33B;
		height:8px;
		width:8px;
		border-radius:50%;
		-webkit-transform:translateX(-50%) translateY(-50%);

		&:before {
			position:absolute;
			content:"";
			height:12px;
			width:12px;
			left:-4px;
			top:-4px;
			background-color:transparent;
			border-radius:50%;
			//box-shadow:0px 0px 2px 2px #FEA33B;
			-webkit-animation:active 1.5s infinite linear;
			animation:active 1.5s infinite linear;
			border: solid 2px #FEA33B;
		}

	}

	@-webkit-keyframes active{
		0% {
			-webkit-transform:scale(.1);
			opacity:1;
		}
		70% {
			-webkit-transform:scale(2.5);
			opacity:0;
		}
		100% {
			opacity:0;
		}
	}

	@keyframes active{
		0% {
			transform:scale(.1);
			opacity:1;
		}
		70% {
			transform:scale(2.5);
			opacity:0;
		}
		100% {
			opacity:0;
		}
	}
