
header[role="banner"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;


	@media(min-width: 1440px) {
		.six.columns {
			width: 47.7%;
		}
		.container {
			max-width: 1240px;
		}
	}

	@media(min-width: 1500px) {
		.six.columns {
			width: 48%;
		}
		.container {
			max-width: 1435px;
		}
	}

}

.logo {
	background: $yellow;
	width: 70px;
	display: block;
	text-align: center;
	text-decoration: none;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	margin-left: -35px;

	@media(min-width: 992px) {
		position: relative;
		left: auto;
		right: auto;
		margin-left: 0;
	}


}

	.logo--initials {
		font-size: 32px;
		color: #fff;
		padding: 70px 0px 18px;
		display: inline-block;
		line-height: 1em;
		letter-spacing: -.125em;
		position: relative;
		left: -2px;
		z-index: 3;
		font-family: $sans-serif-bold;
	}


/* Primary navigation */

.menu--primary {
	list-style: none;
	text-align: right;
	display: none;
	margin: 45px -4px 0 0;

	@media(min-width: 992px) {
		display: block;
	}

}

	.menu--primary li {
		display: inline-block;
		padding: 23px;
		font-family: $sans-serif-bold;

		&:last-child {
			padding-right: 0;

			a {
				padding-right: 0;
			}

		}

	}

		.menu--primary a {
			font-size: 16px;
			line-height: 20px 30px;
			letter-spacing: 2.8px;
			@include text--uppercase();
			color: #fff;
			text-decoration: none;
			padding: 10px;
			display: inline-block;
			-webkit-transition: all .375s ease;

			&:hover,
			&:focus,
			&.active {
				color: #FEA33B;
			}

		}
