/* =========================================

	Section: Hero

========================================= */

.section--hero {
	background-color: $blue1;
	background-image: url('/img/backgrounds/hero/landscape.png');
	background-size: cover;
	color: #fff;
	text-align: center;
}

.section--hero img {
	height: auto;
}