/* =========================================

	Section: Hero

========================================= */

.section--hero {
	background-color: $blue1;
	background-image: url('/img/backgrounds/hero/landscape@1x-80p.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	padding: 160px 0 125px;
	@media(min-width: 992px) {
		padding: 209px 0 384px;
	}
	@media(min-width: 2300px) {
		background-image: url('/img/backgrounds/hero/landscape@2x-80p.jpg');
		background-position: 0 -210px;
	}
}


/* Signature */

.site__title {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

	.site__title__signature {
		height: 102px;
		width: 336px;
		background: url('/img/brand/signature--light@1x.png');
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 0 -14px 0px;
		display: inline-block;
	}

/* Site description */

.site__description--large {
	display: block;
	font-size: 60px;
	font-weight: 900;
	text-shadow: 0 0 40px rgba(22,50,92,.21);
	line-height: 1em;
	@include text--uppercase();
	position: relative;
	padding-bottom: 71px;
	margin-top: 5px;

	&:after {
		position: absolute;
		content: '';
		display: inline-block;
		height: 3px;
		background: $blue1;
		width: 160px;
		bottom: 40px;
		left: 50%;
		right: 50%;
		margin-left: -80px;
	}

}

	@media(min-width: 992px) {
		.site__description--large {
			font-size: 194px;
			letter-spacing: 3px;
		}
	}

/* Site bio */

.site__description--small {
	font-size: 32px;
	font-family: $serif;
	max-width: 820px;
	margin: 0 auto;
	line-height: 45px;
}
