/* =========================================

	Section: History

========================================= */

.section--history {
	background: $blue6;
	color: #fff;
	text-align: center;
	background: #031235; /* Old browsers */
	background: -moz-linear-gradient(top,  #031235 0%, #041640 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #031235 0%,#041640 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #031235 0%,#041640 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031235', endColorstr='#041640',GradientType=0 ); /* IE6-9 */
	padding-bottom: 180px;

	.section__bg-heading:after {
		content: "History";
		color: #04153C;
		text-shadow: 0 75px 300px rgba(0,0,0,.6);
	}

}


/* Header */

.section--history__heading {
	font-size: 18px;
	line-height: 23px;
	color: $blue2;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: 900;

	@media(min-width: 1500px) {
		padding: 2px 0 70px 0;
	}

}

.section--history__subheading {
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;

	@media(min-width: 992px) {
		font-size: 48px;
		line-height: 62px;
	}

	@media(min-width: 1500px) {
		padding: 0 280px 83px;
	}

}

/* Cards */

.card--history {
	text-align: left;

	@media(min-width: 1650px) {
		padding: 0 50px 0 30px;

		&.card--history-2 {
			padding: 0 30px 0 47px;
		}

		&.card--history-3 {
			padding: 0 20px 0 65px;
		}
	}

	.card__title__heading {
		font-size: 16px;
		display: block;
		font-family: 'baskerville';
		color: #FEA33B;
		letter-spacing: .2em;
		text-transform: uppercase;
		padding-bottom: 6px;
	}

	.card__title__subheading {
		font-size: 24px;
		font-weight: 400;
		padding-bottom: 19px;
		display: block;
		letter-spacing: 0;
	}

	p {
		font-size: 18px;
		line-height: 29px;
		color: $blue2;
	}

}

/* Timeline */

.section__timeline {}

	.section__timeline--bg {
		background-image: url('/img/backgrounds/history/timeline.png');
		background-repeat: repeat-x;
		background-position: -2px 0px;
		height: 20px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

.section__timeline__items {
	position: absolute;
	width: 100%;
	height: 90px;
	bottom: 0;
	left: 0;
}

	.tooltip--history {
		display: none;
		position: absolute;
		bottom: 20px;
		width: 120px;
		padding-bottom: 6px;

		@media(min-width: 992px) {
			display: inline-block;
		}

		&.tooltip--f6 {
			left: 219px;
		}

		&.tooltip--mixpanel {
			left: 429px;
		}

		&.tooltip--salesforce {
			left: 1059px;
		}

		&:after {
			content: '';
			display: block;
			width: 2px;
			height: 20px;
			background: #F19424;
			position: absolute;
			left: 50%;
			bottom: -30px;
			right: 50%;
			margin-left: -1px;
		}
	}

	.tooltip__inner--history {
		background: #1B2D57;
		padding: 12px 14px;
		display: inline-block;
		border-radius: 3px;
		box-shadow: 0 10px 10px rgba(0,0,0,.05);
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		font-weight: 600;
		position: relative;

		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(27, 45, 87, 0);
			border-top-color: #1B2D57;
			border-width: 5px;
			margin-left: -5px;
		}

	}

	.tooltip__heading {
		color: #FEA33B;
		display: block;
		position: relative;
		top: -2px;
	}

	.tooltip__subheading {
		position: relative;
		top: 1px;
		letter-spacing: .15em;
	}
