.section--quote {
	background: $yellow;
	background: #f19a25; /* Old browsers */
	background: -moz-linear-gradient(top,  #f19a25 0%, #f2a228 40%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f19a25 0%,#f2a228 40%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f19a25 0%,#f2a228 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f19a25', endColorstr='#f2a228',GradientType=0 ); /* IE6-9 */
	text-align: center;
	padding: 20px 0 40px;

	@media(min-width: 992px) {
		padding: 60px 0 40px;
	}

	@media(min-width: 1280px) {
		padding: 132px 0 119px;
	}

	@media(min-width: 1440px) {
		padding: 147px 0 144px;
	}

	@media(min-width: 1500px) {
		padding: 132px 0 119px;

	}

	.section__bg-heading:after {
		content: "Quote";
		color: #F29F27;
		text-shadow: 0 75px 300px rgba(0,0,0,.12);
		bottom: -152px;
		margin-left: -1144px;
	}

}

.blockquote {
	margin: 0;
}

.blockquote__quote {
	font-family: 'Circular Std';
	font-size: 22px;
	line-height: 34px;
	font-weight: 300;
	color: #fff;
	padding: 0px;
	max-width: 1080px;
	margin: 0 auto;

	@media(min-width: 992px) {
		font-size: 32px;
		line-height: 54px;
	}

	@media(min-width: 1440px) {
	}

	@media(min-width: 1500px) {
	}

}

.blockquote__divider {
	font-size: 100px;
	color: #fff;
	position: relative;
	margin: 15px auto -35px;
	display: block;
	width: 240px;
	line-height: 1em;

		@media(min-width: 1280px) {
			width: 740px;
			margin: 45px auto 0;
		}

	&:before,
	&:after {
		content: '';
		display: block;
		width: 90px;
		height: 2px;
		background: #fff;
		background: rgba(255,255,255,.25);
		position: absolute;
		top: 27px;

		@media(min-width: 1280px) {
			width: 320px;
		}

	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

}

.blockquote__cite {
	display: block;
	font-size: 24px;
	line-height: 46px;
	font-family: $serif;
	font-weight: 600;
	color: #fff;
	font-style: normal;
	letter-spacing: .245em;
	text-transform: uppercase;
	margin: 2px 0 0;
}

	.blockquote__cite__author {
		display: block;
	}
