/* =========================================

	Section: Work

========================================= */

.section--work {
	background: $blue7;
	background-image: url('/img/backgrounds/work/landscape@1x.jpg');
	color: #fff;
	padding: 50px 0;
	background-size: cover;
	background-position: center center;

	@media(min-width: 992px) {
		padding: 79px 0;
	}

	@media(min-width: 1440px) {
		.container {
			max-width: 1309px !important;
		}
	}

	@media(min-width: 1500px) {
		.container {
			max-width: 1435px !important;
		}
	}

}

	.section--work__heading {
		font-size: 28px;
		line-height: 32px;
		font-weight: 700;
		letter-spacing: .002em;
		margin: 0 0 10px 0;

		@media(min-width: 992px) {
			font-size: 48px;
			line-height: 60px;
			margin: 0 0 1px 0;
		}

	}

	.section--work__subheading {
		font-size: 24px;
		line-height: 34px;
		color: #91A2C9;
		font-family: $serif;
		letter-spacing: .002em;
	}

/* =========================================

	Card styles

========================================= */

.work-list {
	margin: 25px -26px 0;
	-webkit-margin-after: 0 !important;

	@media(min-width: 992px) {
		margin: 54px 0 0;
	}

	@media(min-width: 1440px) {
		margin: 69px -26px 0;
	}

	@media(min-width: 1500px) {
		margin: 54px -26px 0;
	}

}

.card--work {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;

	@media(min-width: 552px) {
		width: 50%;
	}

	@media(min-width: 992px) {
		width: 25%;
	}

	@media(min-width: 1280px) {
		width: 25%;
	}

	&:hover {
		.card__inner {
			transform: scale(1.02);
			color: #fff;
			background: #405582;
		}
		.card__back {
			opacity: 1;
		}
	}

}

	.card__inner  {
		background: #304064;
		box-shadow: 0 30px 30px rgba(0,0,0,.1);
		padding: 0px;
		margin: 10px;
		display: block;
		text-decoration: none;
		color: #fff;
		text-align: left;
		-webkit-transition: all .25s ease;

		@media(min-width: 1500px) {
			margin: 25px;
		}


	}

		.card__layout {
			position: relative;
		}

			.card__front,
			.card__back {
				width: 100%;
				height: 100%;
				vertical-align: middle;
			}

			.card__back {
				display: block;
				position: absolute;
				top: 0;
				z-index: 100;
				left: 0;
				right: 0;
				bottom: 0;
				background: #FEA33B;
				background: rgba(254,163,59,.95);
				opacity: 0;
				-webkit-transition: all .25s ease;
			}

				.card__back__inner {
					display: table;
					width: 100%;
					height: 100%;
				}

					.card__back__inner__content {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						padding: 30px;
					}

				/* Card types */

				.card--default .card__layout {
					padding: 25px;
				}

				.card--quote .card__layout {
					padding: 30px 36px;
				}




.card__featured-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 0 !important;
	margin: 0 !important;
	display: block;
}

.card--work__heading {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0 0;
	letter-spacing: 0;
}

.card--work__subheading {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 30px;
	margin: -1px 0 15px 0;
	color: #FEA33B;
	letter-spacing: .195em;
	font-weight: 600;
}

.card--work__content {
	font-size: 18px;
	line-height: 26px;
	color: #B6C2DF;
}

.card__view-project-cta {
	font-family: $serif;
	font-size: 15px;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: .25em;
	margin: 15px 0 11px;
	display: block;
	font-weight: 600;
}

/* Animated */

.card__back__heading {
	font-size: 26px;
	line-height: 33px;
	letter-spacing: 0;
}
.card__back__content {
	font-size: 16px;
	text-transform: uppercase;
	color: #FAD7AE;
	letter-spacing: 2px;
}

/* Quote */

.card__blockquote {
	padding: 0;
	margin: 0;
}

.card__blockquote__text {
	font-size: 22px;
	line-height: 32px;
	position: relative;

	&:before {
		content: '“';
		display: block;
		position: absolute;
		top: -2px;
		left: -10px;
		color: #B5C2DE;
		opacity: .55;
	}

}

.card__blockquote__title,
.card__blockquote__author {
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
	display: block;
}

	.card__blockquote__author {
		font-family: $serif;
		color: #B5C2DE;
		letter-spacing: .2em;
		margin: 24px 1px 0;
		font-weight: 600;
	}

	.card__blockquote__title {
		color: #FEA33B;
		letter-spacing: .2em;
		margin: 3px 1px 11px;
		font-weight: 500;
	}

/* =========================================

	Unique tiles

========================================= */

#card--360-mobile-app {
	.card__inner {
		padding-top: 137px;
		background-image: url('/img/backgrounds/work/phone/phone@1x.png');
		background-position: -52px 43px;
		background-repeat: no-repeat;
	}
	.card__layout {
		padding: 25px 32px;
	}
}

#card--marketing-site {
	.card__inner {
		padding-top: 97px;
		background-image: url('/img/backgrounds/work/desktop/desktop@1x.png');
		background-position: -265px -35px;
		background-repeat: no-repeat;
	}
	.card__layout {
		padding: 25px 32px;
	}
	.card__view-project-cta {
		margin: 19px 0 21px;
	}
}

#card--mixpanel-analytics {
	.card__inner {
		padding-top: 78px;
		background-image: url('/img/backgrounds/work/laptop/laptop@1x.png');
		background-position: -216px 50px;
		background-repeat: no-repeat;
	}
	.card__layout {
		padding: 25px 32px;
	}
	.card__view-project-cta {
		margin: 19px 0 32px;
	}
}

#card--watch-concept {
	.card__inner {
		padding-top: 90px;
		background-image: url('/img/backgrounds/work/watch/watch@1x.png');
		background-position: -70px -39px;
		background-repeat: no-repeat;
	}
	.card__layout {
		padding: 25px 32px;
	}
	.card__view-project-cta {
		margin: 19px 0 22px;
	}
}

@media(min-width: 1440px) {
	.work-list {
		height: 1220px;
		position: relative;
	}
	.card--work {
		position: absolute;
	}

		#card--360-mobile-app {
			top: 0;
			left: 0;
		}
		#card--marketing-pages {
			top: 0;
			left: 340px;
		}
		#card--mobile-concepts {
			left: 680px;
		}
		#card--marketing-site {
			left: 1020px;
		}
		#card--photography-themes {
			top: 440px;
			left: 0;
		}
		#card--business-insights {
			top: 380px;
			left: 340px;
		}
		#card--mixpanel-analytics {
			left: 680px;
			top: 320px;
		}
		#card--illustrations {
			left: 1020px;
		    top: 439px;
		}
		#card--website-templates {
			top: 760px;
			left: 0;
		}
		#card--joey-lomanto {
			top: 820px;
		    left: 340px;
		}
		#card--ecommerce-sites {
			top: 700px;
		    left: 680px;
		}
		#card--watch-concept {
			top: 760px;
		    left: 1020px;
		}
}

@media(min-width: 1650px) {
	.work-list {
		height: 1292px;
		position: relative;
	}
	.card--work {
		position: absolute;
	}

		#card--360-mobile-app {
			top: 0;
			left: 0;
		}
		#card--marketing-pages {
			top: 0;
			left: 370px;
		}
		#card--mobile-concepts {
			left: 740px;
		}
		#card--marketing-site {
			left: 1110px;
		}
		#card--photography-themes {
			top: 470px;
			left: 0;
		}
		#card--business-insights {
			top: 410px;
			left: 370px;
		}
		#card--mixpanel-analytics {
			left: 740px;
			top: 350px;
		}
		#card--illustrations {
			left: 1110px;
			top: 469px;
		}
		#card--website-templates {
			top: 820px;
			left: 0;
		}
		#card--joey-lomanto {
			top: 880px;
			left: 370px;
		}
		#card--ecommerce-sites {
			top: 760px;
			left: 740px;
		}
		#card--watch-concept {
			top: 820px;
			left: 1110px;
		}
}

/* =========================================

	Lightbox

========================================= */

// .chocolat-description,
// .chocolat-set-title {
// 	position: relative;
// 	//top: -100px;
// 	left: 0;
// 	width: 100%;
// 	text-align: center;
// 	padding: 0 !important;
// 	display: block !important;
// 	line-height: 1em;
// 	border: none !important;
// 	float: none !important;
// }
//
// 	.chocolat-description{
// 		font-size: 36px;
// 		font-weight: 600;
// 	}
//
// 	.chocolat-set-title {
// 		color: #FEA33B;
// 		font-size: 16px;
// 		text-transform: uppercase;
// 		margin: 10px 0 40px;
// 	}

.chocolat-open .section .container {
	-webkit-filter: blur(4px);
}

.chocolat-overlay {
    background-color: #000 !important;
    opacity: 0.65 !important;
}

// .chocolat-bottom {
// 	display: none !important;
// }
//
// .chocolat-wrapper .chocolat-left,
// .chocolat-wrapper .chocolat-right {
// 	top: 0% !important;
// 	z-index: 9999;
// }
