/* =========================================

	Section: Work

========================================= */

.section--work {
	background: $blue7;
	color: #fff;
}

.work-list {
	margin: 0 -25px;
}

.carddd {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
}
.card--work  {
	background: #304064;
	box-shadow: 0 30px 30px rgba(0,0,0,.1);
	padding: 20px;
	margin: 25px;
	display: block;
}
