.chocolat-description,
.chocolat-set-title {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	text-align: center;
}

/* =========================================

	Section: Work

========================================= */

.section--work {
	background: $blue7;
	background-image: url('/img/backgrounds/work/landscape@1x.jpg');
	color: #fff;
	padding: 79px 0;
	background-size: cover;
	background-position: center center;
}

.work-list {
	margin: 54px -26px 0;
	-webkit-margin-after: 0 !important;
}

// card--animated, card--default

.card--work {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;

	@media(min-width: 992px) {
		width: 25%;
	}

}

.card__inner:hover {
	transform: scale(1.02);
	color: #fff;

	.card__back {
		display: table;
	}

}

.card__back {
	display: none;
}

//.card__inner:hover
.card__back {
	position: absolute;
	top: 0;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FEA33B;
	background: rgba(254,163,59,.95);
}

.card__back__inner {
	padding: 30px;
	text-align: center;
	vertical-align: middle;
}

.card__layout {
	position: relative;
}

	.card__front,
	.card__back {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}


	.card__inner  {
		background: #304064;
		box-shadow: 0 30px 30px rgba(0,0,0,.1);
		padding: 0px;
		margin: 25px;
		display: block;
		text-decoration: none;
		color: #fff;
		text-align: left;
		-webkit-transition: all .2s ease;
	}

.card__inner img {
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 0 !important;
	margin: 0 !important;
	display: block;
}

.section--work__heading {
	font-size: 48px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: .002em;
	margin: 0 0 1px 0;
}

.section--work__subheading {
	font-size: 24px;
	line-height: 34px;
	color: #91A2C9;
	font-family: $serif;
	letter-spacing: .002em;
}

.card--work__heading {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0 0;
	letter-spacing: 0;
}

.card--work__subheading {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 30px;
	margin: 0 0 0 0;
	color: #FEA33B;
}

.card--work__content {
	font-size: 18px;
	line-height: 26px;
	color: #B6C2DF;
}

.card--default .card__layout {
	padding: 25px;
}



.chocolat-open .section .container {
	-webkit-filter: blur(4px);
}

.chocolat-overlay {
    background-color: #000 !important;
    opacity: 0.65 !important;
}

.card__view-project-cta {
	font-family: $serif;
	font-size: 15px;
	letter-spacing: .3em;
	line-height: 29px;
	text-transform: uppercase;
}

#card--360-mobile-app {
	.card__inner {
		padding-top: 137px;
		background-image: url('/img/backgrounds/work/phone/phone@1x.png');
		background-position: -60px 30px;
		background-repeat: no-repeat;
	}
	.card__layout {
		padding: 25px 31px;
	}
}
