<div class="section section--contact">
	<div class="container">
		<header class="section__header">
			<h2>
				Get in touch
			</h2>
			<h3>
				I would really like to hear from you.
			</h3>
			<p>
				Whether you have a project that you think we would work well together on, a full-time
				position that you think I would accel in, leave a message below, or email me.
			</p>
		</header>
		<div class="section__body">
			<form action="https://formspree.io/nfranklin@salesforce.com" method="POST" class="row">
				<div class="four columns">
					<div class="input-group">
						<label class="drd__label text--uppercase" for="name">1 / Name</label>
						<input class="drd__input" type="text" id="name" name="name" placeholder="Who am I speaking with?" />
					</div>
					<div class="">
						<label class="drd__label text--uppercase" for="email">2 / Email</label>
						<input class="drd__input" type="email" id="email" name="email" placeholder="Who am I speaking with?" />
					</div>
					<div class="">
						<label>3 / Subject</label>
						<input class="drd__input" type="text" name="subject" placeholder="Who am I speaking with?" />
					</div>
				</div>
				<div class="four columns">
					<div class="">
						<label>4 / Subject</label>
						<textarea class="drd__input" name="message" placeholder="Who am I speaking with?"></textarea>
					</div>
					<div class="">
						<input type="submit" value="Send"/>
					</div>
				</div>
				<div class="four columns">
					<div class="">
						<label>1 / My location</label>
						<img src="/img/map.png" alt="" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
