
<div class="section section--contact">
	<div class="container">
		<header class="section__header">
			<h2 class="section__heading section--contact__heading">
				Get in touch
			</h2>
			<p class="section__subheading section--contact__subheading">
				I would really like to hear from you.
			</p>
			<p class="section__lead section--contact__lead">
				Whether you have a project that you think we would work well together on, a full-time
				position that you think I would accel in, leave a message below, or <a href="mailto:">email me</a>.
			</p>
		</header>
		<div class="section__body section--contact__body">
			<form action="https://formspree.io/nfranklin@salesforce.com" method="POST" class="row" id="drd__form">
				<div class="four columns column--first">
					<div class="input-group">
						<label class="drd__label text--uppercase" for="name">
							<span class="label__highlight">1 /</span>
							Name
						</label>
						<input class="drd__input drd__field" type="text" id="name" name="name" placeholder="Who am I speaking with?" />
					</div>
					<div class="input-group">
						<label class="drd__label text--uppercase" for="email">
							<span class="label__highlight">2 /</span>
							Email
						</label>
						<input class="drd__input drd__field" type="email" id="email" name="email" placeholder="Where should I reach you?" />
					</div>
					<div class="input-group">
						<label for="subject" class="drd__label text--uppercase">
							<span class="label__highlight">3 /</span>
							Subject
						</label>
						<input class="drd__input drd__field" type="text" id="subject" name="subject" placeholder="What is this about?" />
					</div>
				</div>
				<div class="four columns column--second">
					<div class="input-group">
						<label for="message" class="drd__label text--uppercase">
							<span class="label__highlight">4 /</span>
							Message
						</label>
						<textarea rows="5" class="drd__text drd__field" id="message" name="message" placeholder="Type your message here."></textarea>
					</div>
					<div class="btn-group">
						<input class="btn drd__button btnbtn--lg" type="submit" value="Send"/>
					</div>
				</div>
				<div class="four columns column--third">
					<div class="">
						<p class="drd__label text--uppercase">
							<span class="label__highlight">1 /</span>
							My location
						</p>
						<div class="map">
							<span class="beacon"></span>
						</div>
						Hamilton, ON Canada
						N 43˚ 15’ 24” / W 79˚ 52’ 9”
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
