
<footer role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="four columns">
				Accepting new projects on a limited basis.
			</div>
			<div class="four columns text-center">
				<img src="/img/signature.png" width="264" height="48" alt="" />
			</div>
			<div class="four columns">
				© 2016 Dave Ruiz. Please don’t steal.
				<ul>
					<li>
						Twitter
					</li>
					<li>
						Dribbble
					</li>
					<li>
						Email
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
