
<footer role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="four columns">
				<span class="availability">
					<span class="availability__beacon availability__beacon--{{ site.availability.color }}"></span>
					{{ site.availability.text }}
				</span>
			</div>
			<div class="four columns text--center">
				<img class="signature--footer" src="/img/brand/signature--dark@2x.png" width="250" height="48" alt=" " />
			</div>
			<div class="four columns text--right">
				<span class="copyright">
					{{ site.copyright }}
				</span>
				<ul class="social-links">
					<li class="social-link">
						<a href="https://twitter.com/foundationsix" class="social-link__wrapper">
							<span class="hide">Twitter</span>
							<span class="social-link__icon social-link__icon--twitter"></span>
						</a>
					</li>
					<li class="social-link">
						<a href="https://dribbble.com/foundationsix" class="social-link__wrapper">
							<span class="hide">Dribbble</span>
							<span class="social-link__icon social-link__icon--dribble"></span>
						</a>
					</li>
					<li class="social-link">
						<a href="#" class="social-link__wrapper">
							<span class="hide">Email</span>
							<span class="social-link__icon social-link__icon--email"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
