
<header role="banner">
	<div class="container">
		<div class="row">
			<div class="six columns">
				<h1>
					<a href="/" class="logo wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0s">
						<span class="logo--initials">
							D<span class="hide">ave</span> R<span class="hide">uiz</span>
						</span>
					</a>
				</h1>
			</div>
			<nav role="menu" class="six columns wow fadeIn" data-wow-duration="1s" data-wow-delay=".25s">
				<ul class="menu menu--primary navbar-list">
					<li class="navbar-item">
						<a href="#work">
							Work
						</a>
					</li>
					<li class="navbar-item">
						<a href="#contact">
							Contact
						</a>
					</li>
					<li class="navbar-item">
						<a href="https://dribbble.com/foundationsix" target="_blank">
							Dribbble
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
