<header role="banner">
	<div class="container">
		<div class="row">
			<div class="six columns">
				<a href="/" class="logo">
					<span class="logo--initials">
						DR
					</span>
				</a>
			</div>
			<nav role="menu" class="six columns">
				<ul class="menu menu--primary navbar-list">
					<li class="navbar-item">
						<a href="#" class="active">
							Work
						</a>
					</li>
					<li class="navbar-item">
						<a href="#">
							Contact
						</a>
					</li>
					<li class="navbar-item">
						<a href="#">
							Dribbble
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
