
<div class="section section--hero">
	<div class="container">
		<div class="site__title text--uppercase animated fadeIn wow hidden" data-wow-delay="0s">
			<img
				src="/img/dave-ruiz-signature--white.png"
				alt="{{ site.title }}"
				width="360"
				height="68"
			/>
		</div>
		<p class="site__description--large animated fadeInDown wow hidden" data-wow-delay=".75s">
			{{ site.hero.heading }}
		</p>
		<p class="site__description--small animated fadeInDown wow hidden" data-wow-delay="1.25s">
			{{ site.hero.subheading }}
		</p>
	</div>
</div>
