
<div class="section section--hero">
	<div class="container">
		<div class="site__title wow fadeIn" data-wow-duration="1s" data-wow-delay="0s" style="visibility:hidden;">
			<div class="site__title__signature"></div>
		</div>
		<p class="site__description--large wow fadeIn" data-wow-duration="3s" data-wow-delay="0s" style="visibility:hidden;">
			{{ site.hero.heading }}
		</p>
		<p class="site__description--small wow fadeIn" data-wow-duration="1s" data-wow-delay="0s" style="visibility:hidden;">
			{{ site.hero.subheading }}
		</p>
	</div>
</div>
