<div class="section section--history">
	<h1>History</h1>
	<div class="container">
		<header class="section__header">
			<h2 class="small-light">
				My History
			</h2>
			<p>
				I've been fortunate enough to work with some really great teams.
			</p>
		</header>
		<div class="section__body">
			<ol class="history row">
				{% for job in site.jobs %}
				<li class="history__item four columns">
					<article class="card card--history">
						<header>
							<h3 class="card__title card__title--history">
								<span class="card__title--company text--uppercase">
									{{ job.company }}
								</span>
								<span class="card__title--position">
									{{ job.position }}
								</span>
							</h3>
						</header>
						{{ job.content }}
					</article>
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="section__timeline">
	</div>
</div>
