
<div class="divider divider--history">
	<span class="divider__arrow">&darr;</span>
</div>
<div class="section section--history">
	<div class="section__bg-heading"></div>
	<div class="container">
		<header class="section__header">
			<h2 class="section__heading section--history__heading">
				{{ site.history.heading }}
			</h2>
			<p class="section__subheading section--history__subheading">
				{{ site.history.subheading }}
			</p>
		</header>
		<div class="section__body">
			<ol class="history row">
				{% for job in site.jobs %}
				<li class="history__item four columns">
					<article class="card card--history card--history-{% cycle '1', '2', '3' %}">
						<header>
							<h3 class="card__title card__title--history">
								<span class="card__title__heading">
									{{ job.company }}
								</span>
								<span class="card__title__subheading">
									{{ job.position }}
								</span>
							</h3>
						</header>
						<div class="card__body card__body--history">
							{{ job.content }}
						</div>
					</article>
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="section__timeline">
		<div class="section__timeline--bg"></div>
		<ul class="section__timeline__items">
			<li class="tooltip tooltip--history tooltip--f6">
				<div class="tooltip__inner tooltip__inner--history">
					<span class="tooltip__heading">
						F6
					</span>
					<span class="tooltip__subheading">
						2010-2014
					</span>
				</div>
			</li>
			<li class="tooltip tooltip--history tooltip--mixpanel">
				<div class="tooltip__inner tooltip__inner--history">
					<span class="tooltip__heading">
						Mixpanel
					</span>
					<span class="tooltip__subheading">
						2012-2014
					</span>
				</div>
			</li>
			<li class="tooltip tooltip--history tooltip--salesforce">
				<div class="tooltip__inner tooltip__inner--history">
					<span class="tooltip__heading">
						Salesforce
					</span>
					<span class="tooltip__subheading">
						2014-Now
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
