<div class="section section--quote">
	<div class="container">
		<blockquote>
			<p>
				Dave is a consummate professional and a expert in user experience on the web. Unlike so many designers, he spends the time to understand your business goals and needs. With Dave, the design is always a vehicle to grow your business and to reduce friction for your users. The rarity and value of the skills he possesses cannot be overstated.
			</p>
			<cite class="text--uppercase">
				J. M. davis - president
				scrapbook.com
			</cite>
		</blockquote>
	</div>
</div>
