<div class="section section--quote">
	<div class="section__bg-heading"></div>
	<div class="container">
		<header class="section__header hide">
			<h2 class="section__heading">
				Quotes
			</h2>
		</header>
		<div class="section__body">
			<blockquote class="blockquote">
				<p class="blockquote__quote">
					Dave is a consummate professional and a expert in user experience on the web.
					Unlike so many designers, he spends the time to understand your business goals
					and needs. With Dave, the design is always a vehicle to grow your business and
					to reduce friction for your users. The rarity and value of the skills he 
					possesses cannot be overstated.
				</p>
				<span class="blockquote__divider">
					&ldquo;
				</span>
				<cite class="blockquote__cite">
					J. M. davis - president
					scrapbook.com
				</cite>
			</blockquote>
		</div>
	</div>
</div>
