
<div class="section section--quote">
	<div class="section__bg-heading wow fadeIn" data-wow-duration="3s" data-wow-delay="0s"></div>
	<div class="container">
		<header class="section__header hide">
			<h2 class="section__heading">
				{{ site.quote.heading }}
			</h2>
		</header>
		<div class="section__body">
			<blockquote class="blockquote">
				<p class="blockquote__quote wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
					{{ site.quote.text }}
				</p>
				<span class="blockquote__divider wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
					&ldquo;
				</span>
				<cite class="blockquote__cite wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
					<span class="blockquote__cite__author">
						{{ site.quote.source.name }}
					</span>
					<span class="blockquote__cite__company">
						{{ site.quote.source.company }}
					</span>
				</cite>
			</blockquote>
		</div>
	</div>
</div>
