
<div class="section section--work">
	<div class="container">
		<header class="section__header">
			<h2 class="section__heading section--work__heading">
				I sweat every pixel. Every experience.
			</h2>
			<p class="section__subheading section--work__subheading">
				Here are some projects that I really enjoyed working on.
			</p>
			<!--
			<button class="btn">
				View all
			</button>
			-->
		</header>
		<div class="section__body">
			<ul class="work-list">
				{% for work in site.portfolio %}
					<li class="card card--work card--{{ work.type }}" data-number="{{ work.weight }}" id="{{ work.title|slugify }}">
						<a href="#" class="card__inner chocolat-image">
							{% if work.featured-image %}
								<div class="card__layout">
									<div class="card__front">
										<img src="/img/work/{{ work.featured-image }}" alt="" />
									</div>
									<div class="card__back">
										<h3>
											{{ work.title }}
										</h3>
										{{ work.customer }}
										{{ work.year }}
										{{ work.content }}
									</div>
								</div>
							{% else %}
								<div class="card__layout">
									<h3 class="card__heading card--work__heading">
										{{ work.title }}
									</h3>
									<p class="card__subheading card--work__subheading">
										{{ work.customer }} {{ work.year }}
									</p>
									<div class="card__content card--work__content">
										{{ work.content }}
									</div>
								</div>
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
