
<div class="section section--work" id="work">
	<div class="container">
		<header class="section__header">
			<h2 class="section__heading section--work__heading">
				I sweat every pixel. Every experience.
			</h2>
			<p class="section__subheading section--work__subheading">
				Here are some projects that I really enjoyed working on.
			</p>
			<!-- <div id="yolo" data-chocolat-title="Set title">
				<a href="/img/work/3/slides/1.png" class="btn chocolat-image" title="image caption a">
					View all
				</a>
			</div> -->
		</header>
		<div class="section__body">
			<ul class="work-list">
				{% assign sorted_work = (site.portfolio | sort: 'weight') %}
				{% for work in sorted_work %}
					<li
						class="card card--work card--{{ work.type }}"
						data-number="{{ work.weight }}"
						id="card--{{ work.title|slugify }}"
						data-chocolat-title="{{ work.customer }} {{ work.year }}"
					>
						{% if work.type == "animated" %}
							<a href="#card--{{ work.title|slugify }}" class="card__inner">
								<div class="card__layout">
									<div class="card__front">
										<img
											src="/img/work/{{ work.featured-image }}"
											title="Yolo"
											alt="Yolo"
											class="card__featured-image"
										/>
									</div>
									<div class="card__back">
										<div class="card__back__inner">
											<div class="card__back__inner__content">
												<i class="card__back__icon--eye"></i>
												<h3 class="card__back__heading">
													{{ work.title }}
												</h3>
												<div class="card__back__content">
													{{ work.customer }}
													{{ work.year }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<div class="hide chocolat-image-list">
								{% for slide in work.slides %}
									<a href="/img/work/{{ work.weight }}/slides/{{ slide.src }}" class="chocolat-image" title="{{ slide.title }}"></a>
								{% endfor %}
							</div>
						{% elsif work.type == "quote" %}
							<div class="card__inner">
								<div class="card__layout">
									<blockquote class="card__blockquote">
										<div class="card__blockquote__text">
											{{ work.content }}
										</div>
										<cite>
											<span class="card__blockquote__author">
												{{ work.quote.author }}
											</span>
											<span class="card__blockquote__title">
												{{ work.quote.title }}
											</span>
										</cite>
									</blockquote>
								</div>
							</div>
						{% else %}
							<a href="#card--{{ work.title|slugify }}" class="card__inner">
								<div class="card__layout">
									<h3 class="card__heading card--work__heading">
										{{ work.title }}
									</h3>
									<p class="card__subheading card--work__subheading">
										{{ work.customer }} {{ work.year }}
									</p>
									<div class="card__content card--work__content">
										{{ work.content }}
									</div>
									<span class="card__view-project-cta">
										View Project →
									</span>
								</div>
							</a>
							<div class="hide chocolat-image-list">
								{% for slide in work.slides %}
									<a href="/img/work/{{ work.weight }}/slides/{{ slide.src }}" class="chocolat-image" title="{{ slide.title }}"></a>
								{% endfor %}
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
