@font-face {
	font-family: 'Baskerville-Bold';
	src: url('/fonts/Baskerville/Baskerville-Bold.eot');
	src: url('/fonts/Baskerville/Baskerville-Bold.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville-Bold.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville-Bold.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville-Bold.svg#Baskerville-Bold') format('svg'),
		url('/fonts/Baskerville/Baskerville-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville-BoldItalic';
	src: url('/fonts/Baskerville/Baskerville-BoldItalic.eot');
	src: url('/fonts/Baskerville/Baskerville-BoldItalic.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville-BoldItalic.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville-BoldItalic.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville-BoldItalic.svg#Baskerville-BoldItalic') format('svg'),
		url('/fonts/Baskerville/Baskerville-BoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville-Italic';
	src: url('/fonts/Baskerville/Baskerville-Italic.eot');
	src: url('/fonts/Baskerville/Baskerville-Italic.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville-Italic.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville-Italic.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville-Italic.svg#Baskerville-Italic') format('svg'),
		url('/fonts/Baskerville/Baskerville-Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville-SemiBold';
	src: url('/fonts/Baskerville/Baskerville-SemiBold.eot');
	src: url('/fonts/Baskerville/Baskerville-SemiBold.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville-SemiBold.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville-SemiBold.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville-SemiBold.svg#Baskerville-SemiBold') format('svg'),
		url('/fonts/Baskerville/Baskerville-SemiBold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville-SemiBoldItalic';
	src: url('/fonts/Baskerville/Baskerville-SemiBoldItalic.eot');
	src: url('/fonts/Baskerville/Baskerville-SemiBoldItalic.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville-SemiBoldItalic.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville-SemiBoldItalic.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville-SemiBoldItalic.svg#Baskerville-SemiBoldItalic') format('svg'),
		url('/fonts/Baskerville/Baskerville-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville';
	src: url('/fonts/Baskerville/Baskerville.eot');
	src: url('/fonts/Baskerville/Baskerville.woff2') format('woff2'),
		url('/fonts/Baskerville/Baskerville.woff') format('woff'),
		url('/fonts/Baskerville/Baskerville.ttf') format('truetype'),
		url('/fonts/Baskerville/Baskerville.svg#Baskerville') format('svg'),
		url('/fonts/Baskerville/Baskerville.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Black';
  src: url('/fonts/Circular/CircularStd-Black.eot');
  src: url('/fonts/Circular/CircularStd-Black.woff2') format('woff2'),
       url('/fonts/Circular/CircularStd-Black.woff') format('woff'),
       url('/fonts/Circular/CircularStd-Black.ttf') format('truetype'),
       url('/fonts/Circular/CircularStd-Black.svg#CircularStd-Black') format('svg'),
       url('/fonts/Circular/CircularStd-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Medium';
	src: url('/fonts/Circular/CircularStd-Medium.eot');
	src: url('/fonts/Circular/CircularStd-Medium.woff2') format('woff2'),
	url('/fonts/Circular/CircularStd-Medium.woff') format('woff'),
	url('/fonts/Circular/CircularStd-Medium.ttf') format('truetype'),
	url('/fonts/Circular/CircularStd-Medium.svg#CircularStd-Medium') format('svg'),
	url('/fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Bold';
	src: url('/fonts/Circular/CircularStd-Bold.eot');
	src: url('/fonts/Circular/CircularStd-Bold.woff2') format('woff2'),
	url('/fonts/Circular/CircularStd-Bold.woff') format('woff'),
	url('/fonts/Circular/CircularStd-Bold.ttf') format('truetype'),
	url('/fonts/Circular/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
	url('/fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-BookItalic';
	src: url('/fonts/Circular/CircularStd-BookItalic.eot');
	src: url('/fonts/Circular/CircularStd-BookItalic.woff2') format('woff2'),
	url('/fonts/Circular/CircularStd-BookItalic.woff') format('woff'),
	url('/fonts/Circular/CircularStd-BookItalic.ttf') format('truetype'),
	url('/fonts/Circular/CircularStd-BookItalic.svg#CircularStd-BookItalic') format('svg'),
	url('/fonts/Circular/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Book';
	src: url('/fonts/Circular/CircularStd-Book.eot');
	src: url('/fonts/Circular/CircularStd-Book.woff2') format('woff2'),
	url('/fonts/Circular/CircularStd-Book.woff') format('woff'),
	url('/fonts/Circular/CircularStd-Book.ttf') format('truetype'),
	url('/fonts/Circular/CircularStd-Book.svg#CircularStd-Book') format('svg'),
	url('/fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

