


@media (min-width: 550px) {
	.container {
		width: 95%;
	}
}

@media (min-width: 1024px) {
	.container {
		width: 100%;
		max-width: 95%;
	}
}

@media(min-width: 1400px) {
	.container {
		max-width: 1380px;
	}
}

@media(min-width: 1440px) {
	.container {
		max-width: 1309px !important;
	}
}

@media(min-width: 1450px) {
	.container {
		max-width: 1435px;
	}
}

@media(min-width: 1500px) {
	.container {
		max-width: 1435px !important;
	}
}
