<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow" />

	<title>{{ site.title }} • Digital Product Designer</title>
	<meta name="description" content="I'm an experienced Digital Product Designer based in Canada, and I have a strong passion for UX and visual design." />

	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="icon" type="image/png" href="/img/favicon-76x76.png" />

	<!--
	<link rel="apple-touch-icon" href="ios/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76x76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="">
	<link rel="apple-touch-icon" sizes="152x152" href="">
	<link rel="apple-touch-startup-image" href="ios/startup.png">
	-->

	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/js/Chocolat-0.4.14/dist/css/chocolat.css" />
	<link rel="stylesheet" href="/js/PhotoSwipe-master/dist/photoswipe.css" />
	<link rel="stylesheet" href="/js/PhotoSwipe-master/dist/default-skin/default-skin.css" />

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Work+Sans:400,500,700,900" rel="stylesheet">


</head>
<body id="skrollr-body">

	{% comment %}
	{% endcomment %}

	{% include _header.html %}
	{% include _hero.html %}
	{% include _history.html %}
	{% include _quote.html %}
	{% include _work.html %}
	{% include _contact.html %}
	{% include _footer.html %}

	{% comment %}
	{% endcomment %}















		  <!-- Root element of PhotoSwipe. Must have class pswp. -->
		  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		      <!-- Background of PhotoSwipe.
		           It's a separate element as animating opacity is faster than rgba(). -->
		      <div class="pswp__bg"></div>

		      <!-- Slides wrapper with overflow:hidden. -->
		      <div class="pswp__scroll-wrap">

		          <!-- Container that holds slides.
		              PhotoSwipe keeps only 3 of them in the DOM to save memory.
		              Don't modify these 3 pswp__item elements, data is added later on. -->
		          <div class="pswp__container">
		              <div class="pswp__item"></div>
		              <div class="pswp__item"></div>
		              <div class="pswp__item"></div>
		          </div>

		          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		          <div class="pswp__ui pswp__ui--hidden">

		              <div class="pswp__top-bar">

		                  <!--  Controls are self-explanatory. Order can be changed. -->

		                  <div class="pswp__counter"></div>

		                  <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

		                  <button class="pswp__button pswp__button--share" title="Share"></button>

		                  <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

		                  <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

		                  <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
		                  <!-- element will get class pswp__preloader--active when preloader is running -->
		                  <div class="pswp__preloader">
		                      <div class="pswp__preloader__icn">
		                        <div class="pswp__preloader__cut">
		                          <div class="pswp__preloader__donut"></div>
		                        </div>
		                      </div>
		                  </div>
		              </div>

		              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		                  <div class="pswp__share-tooltip"></div>
		              </div>

		              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
		              </button>

		              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
		              </button>

		              <div class="pswp__caption">
		                  <div class="pswp__caption__center"></div>
		              </div>

		          </div>

		      </div>

		  </div>

	<!-- @TODO: minifiy via Gulp -->
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/enquire.js"></script>
	<script type="text/javascript" src="/js/isotope-3.0.1.min.js"></script>
	<script type="text/javascript" src="/js/packery.min.js"></script>
	<script type="text/javascript" src="/js/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/Chocolat-0.4.14/dist/js/jquery.chocolat.min.js"></script>
	<script type="text/javascript" src="/js/PhotoSwipe-master/dist/photoswipe.min.js"></script>
	<script type="text/javascript" src="/js/PhotoSwipe-master/dist/photoswipe-ui-default.min.js"></script>

	<script type="text/javascript" src="/js/drd.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#yolo').Chocolat();
		});
	</script>

<style>

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background-color: transparent !important;
}

.pswp__caption__center {
    text-align: center;
}

</style>




	<script type="text/javascript">
		var pswpElement = document.querySelectorAll('.pswp')[0];
		var items = [
			{
				src: '/img/work/3/slides/1.png',
				w: 2500,
				h: 1700,
				title: 'Dashboards',
				author: "Dave Ruiz"
			},
			{
				src: '/img/work/11/slides/1.jpg',
				w: 1160,
				h: 1830,
				title: 'Image Caption'
			}
		];
		var options = {
			index: 0,
			shareEl: false,
			fullscreenEl: false,
			zoomEl: false,
			counterEl: false,
			captionEl: true,
			closeOnScroll: false,
			addCaptionHTMLFn: function(item, captionEl, isFake) {
				if(!item.title) {
					captionEl.children[0].innerText = '';
					return false;
				}
				captionEl.children[0].innerHTML = item.title +  '<br/><small>Photo: ' + item.author + '</small>';
				return true;
			},
		};
		var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
		gallery.init();
		gallery.zoomTo(1, {
			x:gallery.viewportSize.x/2,
			y:0
		}, 0, false, function(now) {});
		gallery.listen('afterChange', function(index, item) {
			gallery.zoomTo(1, {
				x:gallery.viewportSize.x/2,
				y:0
			}, 0, false, function(now) {});

		});

	</script>






</body>
</html>
