<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow" />

	<title>{{ site.title }} • Digital Product Designer</title>
	<meta name="description" content="I'm an experienced Digital Product Designer based in Canada, and I have a strong passion for UX and visual design." />

	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="icon" type="image/png" href="/img/favicon-76x76.png" />

	<!--
	<link rel="apple-touch-icon" href="ios/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76x76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="">
	<link rel="apple-touch-icon" sizes="152x152" href="">
	<link rel="apple-touch-startup-image" href="ios/startup.png">
	-->

	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/js/Chocolat-0.4.14/dist/css/chocolat.css" />
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Work+Sans:400,500,700,900" rel="stylesheet">

</head>
<body id="skrollr-body">

	{% comment %}
	{% endcomment %}

	{% include _header.html %}
	{% include _hero.html %}
	{% include _history.html %}
	{% include _quote.html %}
	{% include _work.html %}
	{% include _contact.html %}
	{% include _footer.html %}

	{% comment %}
	{% endcomment %}

	<!-- @TODO: minifiy via Gulp -->
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/enquire.js"></script>
	<script type="text/javascript" src="/js/isotope-3.0.1.min.js"></script>
	<script type="text/javascript" src="/js/packery.min.js"></script>
	<script type="text/javascript" src="/js/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/Chocolat-0.4.14/dist/js/jquery.chocolat.min.js"></script>
	<script type="text/javascript" src="/js/drd.js"></script>
	<script type="text/javascript" src="/js/drd.js">
		$(document).ready(function(){
			$('#yolo').Chocolat();

		});
	</script>

</body>
</html>
