<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.description }} | {{ site.title }}</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{% include _header.html %}
	{% include _hero.html %}
	{% include _history.html %}
	{% include _quote.html %}
	{% include _work.html %}
	{% include _contact.html %}
	{% include _footer.html %}

	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/isotope-3.0.1.min.js"></script>
	<script type="text/javascript" src="/js/drd.js"></script>

</body>
</html>
